{% extends '::frontend.html.twig' %}
{% block page_level_css %}
    <!-- Data Table styles-->
    <link rel="stylesheet"
          href="{{ asset('vendor/datatable/extensions/datatable-bootstrap/css/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/datatable/extensions/ColVis/css/dataTables.colVis.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/select2/4.0.0/css/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/clientes/css/cliente.css') }}">
{% endblock %}
{% block header %}
    <section class="header-content">
        <h1 class="pull-left" style="position: relative">Clientes
        </h1>

        <div class="pull-right">
            <a class="btn btn-primary" href="{{ path('clientes_create') }}">
                <i class="fa fa-plus"></i>
                Nuevo
            </a>
        </div>
        <div class="pull-right" style="margin-right: 20px;">
            <ul class="nav nav-pills">
                <li {% if active is defined and active['pill'] == 'Todos' %}class="active" {% endif %}><a
                            href={{ path('clientes_homepage') }}>Todo</a></li>
                <li {% if active is defined and active['pill'] == 'Activo' %}class="active" {% endif %}><a
                            href={{ path('clientes_homepage', {'status': 1}) }}>Activo</a></li>
                <li {% if active is defined and active['pill'] == 'Inactivo' %}class="active" {% endif %}><a
                            href={{ path('clientes_homepage', {'status': 0}) }}>Inactivo</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>

    </section>
{% endblock %}
{% block body %}
    <section class="main-content">
        {% for mensaje in app.session.flashbag.get('info_add') %}
            <div class="alert alert-success alert-dismissible">{{ mensaje }}</div>
        {% endfor %}
        {% for mensaje in app.session.flashbag.get('info_edit') %}
            <div class="alert alert-info alert-dismissible">{{ mensaje }}</div>
        {% endfor %}
        {% for mensaje in app.session.flashbag.get('info_delete') %}
            <div class="alert alert-warning alert-dismissible">{{ mensaje }}</div>
        {% endfor %}

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Listado</small>
                    </div>
                    <div class="panel-body">
                        <table role="grid" id="clientesTable"
                               class="table table-striped table-hover dataTable no-footer">
                            <thead>
                            <tr role="row">
                                <th>
                                    Id
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Correo electr&oacute;nico
                                </th>
                                <th>
                                    Tel&eacute;fono
                                </th>
                                <th style="text-align: left">
                                    Saldo
                                </th>
                                <th>
                                    Activo
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block modal %}
    <div aria-hidden="false" role="dialog" tabindex="-1" id="delete" class="modal fade bs-modal-sm in"
         style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                    <h4 class="modal-title"><i class="fa fa-warning"></i>&nbsp;Confirmación</h4>
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea eliminar este usuario?
                </div>
                <div class="modal-footer">
                    <a id="deleteButton" class="btn btn-primary">Si</a>
                    <button data-dismiss="modal" class="btn default" type="button">No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block page_level_plugins %}
    <script src="{{ asset('vendor/select2/4.0.0/js/select2.js') }}"></script>
    <script src="{{ asset('vendor/select2/4.0.0/js/i18n/es.js') }}"></script>
    <!-- Data Table Scripts-->
    <script src="{{ asset('vendor/datatable/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatable/extensions/datatable-bootstrap/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('vendor/datatable/extensions/datatable-bootstrap/js/dataTables.bootstrapPagination.js') }}"></script>
    <script src="{{ asset('vendor/datatable/extensions/ColVis/js/dataTables.colVis.min.js') }}"></script>
{% endblock %}

{% block page_level_scripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script>
        $(function () {
            $(document).ready(function () {
                moment.locale('es');
                //Clientes Datatable
                var oTable;
                oTable = $('#clientesTable').dataTable(
                        {
                            "language": {
                                "lengthMenu": " _MENU_ registros",
                                "sSearch": "Buscar",
                                "sZeroRecords": "No se encontraron registros",
                                "sEmptyTable": "No hay registros disponibles: cambie los criterios de filtrado",
                                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                                "sInfoEmpty": "Mostrando 0 a 0 de 0 registros",
                                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                "oPaginate": {
                                    sFirst: "<i class='fa fa-backward' title='Primero'></i>",
                                    sLast: "<i class='fa fa-forward' title='Último'></i>",
                                    sNext: "<i class='fa fa-caret-right' title='Siguiente'></i>",
                                    sPrevious: "<i class='fa fa-caret-left' title='Anterior'></i>"
                                },
                                "sPaginationType": "full_numbers",
                                "sProcessing": "Procesando..."
                            },
                            "aLengthMenu": [5, 10, 15],
                            "sPaginationType": "full_numbers",
                            "pageLength": 10,
                            "bLengthChange": true,
                            "processing": true,
                            "bJQueryUI": true,
                            "bServerSide": true,
                            "ajax": {
                                "url": Routing.generate('clientes_listar'),
                                "type": "POST"
                            },
                            "dom": "<'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizontal scrollable datatable
                            "columnDefs": [{
                                "visible": false,
                                "targets": [0]
                            }, {
                                "orderable": false,
                                "targets": [4]
                            }, {
                                "class": "column-right",
                                "targets": [4]
                            }, {
                                "class": "column-center",
                                "targets": [5]
                            }],
                            "drawCallback": $clientesTable.postDraw
                        }
                );
                $('div .dataTables_length select').select2({language:"es", width: 90});
                $('div.dataTables_filter input').addClass('form-control input-inline input-sm');

                var nCloneTh = document.createElement('th');
                nCloneTh.innerHTML = "<strong>Operaciones</strong>";
                nCloneTh.style.textAlign = "center";

                oTable.find('thead tr').each(function () {
                    this.insertBefore(nCloneTh, this.childNodes[5]);
                });
            });
        });
    </script>
    <script src="{{ asset('bundles/clientes/js/clientesDatatable.js') }}"></script>
{% endblock %}
