<td>{{ form_widget(form.producto,{ 'attr': {'class':'form-control form-item' }}) }}</td>
<td>{{ form_widget(form.descripcion) }}</td>
<td>{{ form_widget(form.cantidad) }}</td>
<td>{{ form_widget(form.precio) }}</td>
<td>{{ form_widget(form.impuesto,{ 'attr': {'class':'form-control form-tax' }}) }}</td>
<div style="display: none">{{ form_rest(form) }}</div>
